<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>All users</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="stylesheet" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css " />
</head>

<body>
	<div class="jumbotron text-center">
		<h1>Welcome to DIT</h1>
		<p>Resize this responsive page to see the effect!</p>
	</div>

	<div class="container">
	
		<h1 class="text-center">All users</h1>

		<table class="table table-bordered table-hover">

			<thead class="thead-light">
				<tr>
					<th> ID </th>
					<th> Name </th>
					<th> Email </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td><span th:text="${user.id}"> ID </span></td>
					<td><span th:text="${user.name}"> Name </span></td>
					<td><span th:text="${user.email}"> Email </span></td>
				</tr>
			</tbody>
		</table>

		<a class="btn btn-primary" href="/user">Submit a new user</a>

	</div>

</body>

</html>