<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>All users</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<table>
		<thead>
			<tr>
				<th> ID </th>
				<th> Name </th>
				<th> Email </th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${users}">
				<td><span th:text="${user.id}"> ID </span></td>
				<td><span th:text="${user.name}"> Name </span></td>
				<td><span th:text="${user.email}"> Email </span></td>
			</tr>
		</tbody>
	</table>
	<a href="/user">Submit a new user</a>
</body>

</html>